beam-jaxws/beam-jaxws-server/src/main/resources/org/esa/beam/ws/wsdl/BeamWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://www.brockmann-consult.de/ws/beam" name="BeamWebService"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:tns="http://www.brockmann-consult.de/ws/beam" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsp:Policy wsu:Id="BeamWebServicePortBinding_MTOM_Policy">
        <ns1:OptimizedMimeSerialization wsp:Optional="true"
                                        xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
    </wsp:Policy>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://www.brockmann-consult.de/ws/beam"
                        schemaLocation="BeamWebService_schema1.xsd"/>
        </xsd:schema>
    </types>
    <message name="readPixelsFloat">
        <part name="parameters" element="tns:readPixelsFloat"/>
    </message>
    <message name="readPixelsFloatResponse">
        <part name="parameters" element="tns:readPixelsFloatResponse"/>
    </message>
    <message name="IOException">
        <part name="fault" element="tns:IOException"/>
    </message>
    <message name="readPixelsInt">
        <part name="parameters" element="tns:readPixelsInt"/>
    </message>
    <message name="readPixelsIntResponse">
        <part name="parameters" element="tns:readPixelsIntResponse"/>
    </message>
    <message name="openProduct">
        <part name="parameters" element="tns:openProduct"/>
    </message>
    <message name="openProductResponse">
        <part name="parameters" element="tns:openProductResponse"/>
    </message>
    <message name="closeProduct">
        <part name="parameters" element="tns:closeProduct"/>
    </message>
    <message name="closeProductResponse">
        <part name="parameters" element="tns:closeProductResponse"/>
    </message>
    <message name="getBands">
        <part name="parameters" element="tns:getBands"/>
    </message>
    <message name="getBandsResponse">
        <part name="parameters" element="tns:getBandsResponse"/>
    </message>
    <portType name="BeamWebService">
        <operation name="readPixelsFloat">
            <input wsam:Action="http://www.brockmann-consult.de/ws/beam/BeamWebService/readPixelsFloatRequest"
                   message="tns:readPixelsFloat"/>
            <output wsam:Action="http://www.brockmann-consult.de/ws/beam/BeamWebService/readPixelsFloatResponse"
                    message="tns:readPixelsFloatResponse"/>
            <fault message="tns:IOException" name="IOException"
                   wsam:Action="http://www.brockmann-consult.de/ws/beam/BeamWebService/readPixelsFloat/Fault/IOException"/>
        </operation>
        <operation name="readPixelsInt">
            <input wsam:Action="http://www.brockmann-consult.de/ws/beam/BeamWebService/readPixelsIntRequest"
                   message="tns:readPixelsInt"/>
            <output wsam:Action="http://www.brockmann-consult.de/ws/beam/BeamWebService/readPixelsIntResponse"
                    message="tns:readPixelsIntResponse"/>
            <fault message="tns:IOException" name="IOException"
                   wsam:Action="http://www.brockmann-consult.de/ws/beam/BeamWebService/readPixelsInt/Fault/IOException"/>
        </operation>
        <operation name="openProduct">
            <input wsam:Action="http://www.brockmann-consult.de/ws/beam/BeamWebService/openProductRequest"
                   message="tns:openProduct"/>
            <output wsam:Action="http://www.brockmann-consult.de/ws/beam/BeamWebService/openProductResponse"
                    message="tns:openProductResponse"/>
            <fault message="tns:IOException" name="IOException"
                   wsam:Action="http://www.brockmann-consult.de/ws/beam/BeamWebService/openProduct/Fault/IOException"/>
        </operation>
        <operation name="closeProduct">
            <input wsam:Action="http://www.brockmann-consult.de/ws/beam/BeamWebService/closeProductRequest"
                   message="tns:closeProduct"/>
            <output wsam:Action="http://www.brockmann-consult.de/ws/beam/BeamWebService/closeProductResponse"
                    message="tns:closeProductResponse"/>
            <fault message="tns:IOException" name="IOException"
                   wsam:Action="http://www.brockmann-consult.de/ws/beam/BeamWebService/closeProduct/Fault/IOException"/>
        </operation>
        <operation name="getBands">
            <input wsam:Action="http://www.brockmann-consult.de/ws/beam/BeamWebService/getBandsRequest"
                   message="tns:getBands"/>
            <output wsam:Action="http://www.brockmann-consult.de/ws/beam/BeamWebService/getBandsResponse"
                    message="tns:getBandsResponse"/>
        </operation>
    </portType>
    <binding name="BeamWebServicePortBinding" type="tns:BeamWebService">
        <wsp:PolicyReference URI="#BeamWebServicePortBinding_MTOM_Policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="readPixelsFloat">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="IOException">
                <soap:fault name="IOException" use="literal"/>
            </fault>
        </operation>
        <operation name="readPixelsInt">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="IOException">
                <soap:fault name="IOException" use="literal"/>
            </fault>
        </operation>
        <operation name="openProduct">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="IOException">
                <soap:fault name="IOException" use="literal"/>
            </fault>
        </operation>
        <operation name="closeProduct">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="IOException">
                <soap:fault name="IOException" use="literal"/>
            </fault>
        </operation>
        <operation name="getBands">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="BeamWebService">
        <port name="BeamWebServicePort" binding="tns:BeamWebServicePortBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>

